
body {
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url(../images/wer.jpg);

  background-size: cover;
  background-repeat: repeat-y;

  color: white;
}

header {
  width: 100%;
  background: red;
 
}
header a {
  color: white;
}
header .header-logo {
  height: 20px;
}
.images img {
  width: 200px;
}
.text img {
  width: 100px;
}
.our-baking img {
  width: 100px;
}
footer .footer-logo {
  width: 100px;
}
footer p {
  color: blue;
}
footer ul li img {
  width: 100px;
}
